<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://b2cinviter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c200d185-d67b-4ec9-a399-53d6a114b7cb/resourceGroups/rg-immagino/providers/Microsoft.Web/sites/b2cinviter</ResourceId>
    <UserName>$b2cinviter</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://b2cinviter.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>